.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    /* background-color: #fff; */
}

.EnterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.makeDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
}

.enterButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.inputtext {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}