.body {
    display: flex;
    flex : 9;
    flex-direction: row;
    justify-content: center;
    /* background-color: beige; */
}

.explain {
    display: flex;
    width: 80%;
    flex-direction: column;
    font-style: italic;
    font-size: 100px;
}

.trans {
    display: flex;
    width: 20%;
    flex-direction: column;
    font-style: italic;
    font-size: 100px;
    justify-content: center;
}