.navbar {
    display: flex;
    flex : 1;
    flex-direction: row;
    color: indigo;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.logo {
    display: flex;
    width: 10%;
    color: crimson;
    align-items: center;
}

button {
    display: flex;
    width: 15%;
    height: 50%;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}