.root {
    width: 100%;
    height: 100vh;
}

.body {
    display: flex;
    height: 70vh;
    width: 100%;
    flex-direction: column;
}
.boxandtool {
    display: flex;
    flex-direction: row;

}
.sandbox {
    height: 100%;
    width: 90%;
    background-color: blueviolet;
}

.toolbar {
    display: flex;
    height: 100%;
    width: 10%;
    background-color: blue;
    flex-direction: column;
}

.toolbox button {
    width: 25px;
    height: 25px;
    margin: 15px;
}

.toolbarClosed {
    /* height: 100%; */
    width: 0;
}

.toolbarIcon {
    position: absolute;
    top: 15vh;
    right: 1vh;
}

.functionBox {
    display: flex;
    margin-top: 250px;
    flex-direction: column;
}

.personList {
    display: flex;
}